.botones-opciones{
    
    @include grid(2,1rem);
    margin: auto;
    button{
        width: 60%;
        margin: 1rem auto;
        padding: 2rem;
    }
    @include tablet{
        @include grid(5,1rem);
        button{
            width: 100%;
            padding: 1rem;
        }
    }
}

.descripciones{
    border: 1px solid black;
    margin: 4rem auto ;
    
    p{
        text-align: center;
        font-size: 1rem;
        margin: 1rem;
    }
    @include tablet{
        p{
            font-size: 1.8rem;
        }
    }
}

#requisitos{
    @include grid(5,2rem);
    h4{
        grid-column: 1/6;
    }
}

#compensaciones{
    @include grid(4,2rem);
    h4{
        grid-column: 1/5;
    }
}

.sombra{
    -webkit-box-shadow: 2px 12px 26px 8px rgba(0,0,0,0.20);
    -moz-box-shadow: 2px 12px 26px 8px rgba(0,0,0,0.20);
    box-shadow: 2px 12px 26px 8px rgba(0,0,0,0.20);
}

